<header>
  <app-account-header></app-account-header>
  <app-create-task (taskEmitter)="addTaskToTaskList($event)"></app-create-task>
</header>

<app-loading-spinner *ngIf="!taskList"></app-loading-spinner>

<div *ngIf="taskList" class="container">

  <app-task-list 
    [tasks]="taskList?.uncompleted"
    *ngIf="taskList?.uncompleted.length > 0"
    [title]="uncompletedTitle"
    [isComplete]="false"
    (clickedTask)="handleClickedTask($event)"
    (deletedTask)="deleteTask($event)"
    (update)="updateTask($event)">
  </app-task-list>

  <div class="seperator" *ngIf="shouldDisplaySeperator"></div>

  <app-task-list 
    [tasks]="taskList?.completed"
    *ngIf="taskList?.completed.length > 0"
    [title]="completedTitle"
    [isComplete]="true"
    (clickedTask)="handleClickedTask($event)"
    (deletedTask)="deleteTask($event)"
    (update)="updateTask($event)">
  </app-task-list>
  
</div>

<app-account-quick-info></app-account-quick-info>
