<app-create-task (taskEmitter)="addTaskToTaskList($event)"></app-create-task>
<app-loading-spinner *ngIf="!taskList"></app-loading-spinner>
<div *ngIf="taskList" class="container">

  <button (click)="showCompletedTasks = !showCompletedTasks">Toggle</button>

  <app-task-list 
    [tasks]="taskList?.uncompleted"
    *ngIf="taskList?.uncompleted.length > 0"
    [title]="uncompletedTitle"
    [isComplete]="false"
    (clickedTask)="handleClickedTask($event)"
    (deletedTask)="deleteTask($event)">
  </app-task-list>

  <div class="seperator" *ngIf="shouldDisplaySeperator"></div>

  <app-task-list 
    [tasks]="taskList?.completed"
    *ngIf="taskList?.completed.length > 0"
    [title]="completedTitle"
    [isComplete]="true"
    (clickedTask)="handleClickedTask($event)"
    (deletedTask)="deleteTask($event)">
  </app-task-list>

  <button (click)="this.auth.signOut()">Log Out</button>

</div>
