<li [class.expanded]="isExpanded" (click)="handleClick()">
  <span
    *ngIf="!isExpanded"
    [class.completed]="isComplete">
    {{ task.title }}
  </span>

  <form *ngIf="isExpanded" #taskTitle="ngForm" (submit)="sendUpdate()">
    <input type="text" [(ngModel)]="task.title" name="title">
  </form>

  <div class="task-icons">
      <i class="material-icons trash-icon">
        delete
      </i>

      <i
        class="material-icons check-icon"
        (click)="sendCheck()"
        *ngIf="!isComplete">
        check_circle_outline
      </i>
      <i
      class="material-icons check-icon completed"
      (click)="sendCheck()"
      *ngIf="isComplete">
      check_circle
    </i>
  </div>
</li>