li{
  min-height: 36pt;
  min-width: 288px;
  width: 90vw;
  max-width: 350px;
  border-radius: 12px;
  background-color: rgba(231, 76, 60,0.3);
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
  
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);

  span {
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12pt;
    max-width: 260px;
    font-weight: 700;
    min-height: 16pt;
    width: max-content;

    &.completed {
      text-decoration: line-through;
      color: rgba(100, 100, 100,0.7);
    }
  }

  .task-icons {
    margin-left: auto;
    font-size: 1.75em;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgba(127, 140, 141,1.0);
    min-width: 50px;
    height: 5vh;

    .check-icon {
      transform: translate(2px, 1.5px);
    
      &:hover {
        color: rgba(46, 204, 113, 0.3);
      }
    
      &.completed {
        color: rgba(46, 204, 113,1.0);
      }
    }
    
    .trash-icon {
      margin-right: 0.7rem;
    
      &:hover {
        color: rgba(255, 0, 0, 1);
      }
    }
  }

  @media screen and (min-width: 550px) {
    max-width: unset;
  }

  @media screen and (min-width: 790px) {
    max-width: unset;
    width: 42vw;
  }
}

.expanded {
  white-space: normal;
  min-height: 36pt;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 998;
}

svg {
  height: 0;
  width: 0;
}
