<li [class.expanded]="isExpanded" (click)="handleClick()">
  <span
    *ngIf="!isExpanded"
    [class.completed]="isComplete">
    {{ task.title }}
  </span>

  <form *ngIf="isExpanded" #taskTitle="ngForm" (submit)="sendUpdate()">
    <input type="text" [(ngModel)]="task.title" name="title">
  </form>

  <div class="task-icons">
      <fa-icon 
        [icon]="trashIcon"
        class="trash-icon"
        (click)="sendDelete()">
      </fa-icon>
      <fa-icon
        [icon]="checkIcon"
        class="check-icon"
        (click)="sendCheck()"
        [class.completed]="isComplete">
      </fa-icon>
    <svg></svg>
  </div>
</li>